.foo {
    -webkit-shape-inside: circle(100px, 0.5em, 100px);
    -webkit-shape-inside: rectangle(45px, 45px, 90px, 60px, 25px, 10px);
    -webkit-shape-inside: ellipse(100px, 100px, 100px, 100px);
    -webkit-shape-inside: polygon(10px 20px, 30px 40px, 40px 50px);
    shape-inside: circle(100px, 100px, 100px);
    shape-inside: rectangle(450px, 45px, 900px, 600px, 250px, 100px);
    shape-inside: rectangle(45px, 45px, 90px, 60px);
    shape-inside: ellipse(100px, 100px, 100px, 100px);
    shape-inside: polygon(10px 20px, 30px 40px, 10px 50px);
}
